---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Kareem Amged</div>
    <div class="text-3xl py-3 font-bold">Swnior front-End Developer</div>
    <div class="py-2">
      <text class="text-lg">
        Experienced <b>front-End Developer</b> skilled in Astro framework and React, with proficiency in 
        Bootstrap, Tailwind CSS, and Angular. Dedicated to creating dynamic and visually 
        appealing user interfaces while ensuring optimal 
        performance and accessibility across platforms.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/kemoamego" target="_blank"> Let's connect!</a>
      <a href="https://github.com/kimooamigo/myPortfolio-website" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My Last Projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Be Perfect Website"
    img="/BePerfect.webp"
    desc="This React-based website is designed to offer accessible and personalized plastic surgery services to users seeking expert care. Users can connect with experienced plastic surgeons, schedule consultations and procedures, and receive tailored medical advice and guidance. The platform prioritizes user convenience and expertise, ensuring a seamless experience for those exploring cosmetic enhancements and surgical solutions."
    url="https://github.com/kimooamigo/be-perfect"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Astro Blog Website"
    img="/AstroBlog.webp"
    desc="📚 Openblog is an elegant, simple, and user-friendly blog. Focused on accessibility, SEO and performance."
    url="https://github.com/kimooamigo/Astro-Blog"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Photos Gallery Website"
    img="/GalleryWebsite.webp"
    desc="Exposure Gallery is a sleek, intuitive, and user-centric photo gallery website tailored for photographers and filmmakers alike. Dedicated to showcasing stunning visuals, it emphasizes accessibility, SEO optimization, and top-notch performance. Explore captivating imagery effortlessly, with a seamless interface designed to elevate the viewer's experience and appreciation of photography and film."
    url="https://github.com/kimooamigo/Astro-Gallery-Website"
    badge="NEW"
  />
</BaseLayout>
